### Analysis of Kaggle European Soccer dataset
Source of data: https://www.kaggle.com/hugomathien/soccer

In [1]:
# imports
import pandas as pd
from football_data.db_engines import connect_postgres

In [2]:
# get db connection
db = 'football'
schema = 'kaggle_european_soccer'
con = connect_postgres(db)

In [3]:
# examine leagues
leagues = pd.read_sql_table('league', con, schema=schema)
print(leagues)

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [7]:
# focus on the EPL
epl_id = 1729

# query available matches
sql = 'select * from %s.%s where league_id = %i' % (schema, 'match', epl_id)
epl_matches = pd.read_sql(sql, con)
print(epl_matches.head())

     id  country_id  league_id     season  stage                 date  \
0  1729        1729       1729  2008/2009      1  2008-08-17 00:00:00
1  1730        1729       1729  2008/2009      1  2008-08-16 00:00:00
2  1771        1729       1729  2008/2009     13  2008-11-15 00:00:00
3  1731        1729       1729  2008/2009      1  2008-08-16 00:00:00
4  1732        1729       1729  2008/2009      1  2008-08-16 00:00:00

   match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...    \
0        489042             10260             10261               1  ...
1        489043              9825              8659               1  ...
2        489164              8654              8462               0  ...
3        489044              8472              8650               0  ...
4        489045              8654              8528               2  ...

     SJA   VCH  VCD    VCA   GBH   GBD    GBA   BSH   BSD    BSA
0  10.00  1.28  5.5  12.00  1.30  4.75  10.00  1.29  4.50  11.00
1  12.00  1.25  6.0  13.00  1.22  5.50  13.00  1.22  5.00  13.00
2   2.88  2.40  3.2   2.65  2.50  3.30   2.75  2.40  3.25   2.80
3   1.73  5.50  3.8   1.65  5.00  3.40   1.70  4.50  3.40   1.73
4   3.75  1.90  3.5   4.35  1.91  3.25   4.00  1.91  3.25   3.80

[5 rows x 115 columns]

In [9]:
# which seasons are available?
print(epl_matches['season'].unique())

['2008/2009' '2009/2010' '2010/2011' '2011/2012' '2012/2013' '2013/2014'
 '2014/2015' '2015/2016']

### Summary

A few thoughts below.
* Little recently available data, this data source will have to be combined with something that is updated more frequently
* Not very detailed e.g. no team sheets for matches
* Only contains top leagues in each european country